.DS_Store
info-pour-tous/.DS_Store
info-pour-tous/f91/question-5-13.aux
info-pour-tous/f91/question-5-13.log
info-pour-tous/f91/question-5-13.pdf
info-pour-tous/f91/question-5-13.synctex.gz
roundabouts/.DS_Store
roundabouts/presentation-tipe/.DS_Store
roundabouts/presentation-tipe/presentation-tipe.pdf
roundabouts/source/.DS_Store
speinfo/.DS_Store

roundabouts/modele/#affichage.ml#
roundabouts/modele/affichage.cmi
roundabouts/modele/affichage.cmo
roundabouts/modele/comportements.cmi
roundabouts/modele/comportements.cmo
roundabouts/modele/comportements.ml~
roundabouts/modele/objets.cmi
roundabouts/modele/objets.cmo
roundabouts/modele/plateau.cmi
roundabouts/modele/plateau.cmo
roundabouts/modele/test
roundabouts/modele/test.cmi
roundabouts/modele/test.cmo

info-pour-tous/labyrinthe/.DS_Store
info-pour-tous/labyrinthe/labyrinthe.aux
info-pour-tous/labyrinthe/labyrinthe.log
info-pour-tous/labyrinthe/labyrinthe.pdf
info-pour-tous/labyrinthe/labytoto.aux
info-pour-tous/labyrinthe/labytoto.log
info-pour-tous/labyrinthe/labytoto.pdf
info-pour-tous/labyrinthe/labytoto.synctex.gz

roundabouts/modele/.depend
roundabouts/modele/local
roundabouts/modele/local.cmi
roundabouts/modele/local.cmo
roundabouts/modele/sature
roundabouts/modele/sature.cmi
roundabouts/modele/sature.cmo
roundabouts/modele/truc.dat

roundabouts/source/mcot/mcot.log
roundabouts/source/mcot/mcot.aux
roundabouts/source/mcot/mcot.bbl
roundabouts/source/mcot/mcot.blg
roundabouts/source/mcot/mcot.dvi

