*.DS_Store
#MacOS

*.nav
*.out
*.snm
*.toc
#Beamer

*.bbl
*.blg
*.dvi
#Biblio

*.aux
*.log
*.synctex.gz
*.dvi
#LaTex

info-pour-tous/f91/question-5-13.pdf

roundabouts/source/mcot/mcot.pdf

roundabouts/modele/*.cmi
roundabouts/modele/*.cmo
#OCaML

roundabouts/modele/*.dat

roundabouts/modele/test
roundabouts/modele/local
roundabouts/modele/sature

roundabouts/modele/.depend


info-pour-tous/labyrinthe/labyrinthe.pdf
info-pour-tous/labyrinthe/labytoto.pdf

roundabouts/source/mcot/mcot.bbl
roundabouts/source/mcot/mcot.blg
roundabouts/source/mcot/mcot.dvi

roundabouts/presentation-tipe/images/inescapable.xcf
roundabouts/presentation-tipe/images/rotary.xcf
roundabouts/presentation-tipe/images/zero.xcf
